.embedWr
  max-width: 520px
  border-radius: 3px
  background: #2f3136
  font-family: 'Whitney'
  font-size: 0.875rem
  .color
    width: 4px
    height: 100%
    border-radius: 3px 0 0 3px
    background: #cacbce
  \:global
    .hljs
      background: #202225
  .embed
    flex: 1
    flex-direction: column
    padding: 1vh
    .content
      justify-content: space-between
      &Inner
        display: block
        &.m
          margin-bottom: 10px
        a
          display: inline
          color: #0096d1
          cursor: pointer
          &:hover
            text-decoration: underline
        .author
          font-weight: 600
          align-items: center
          margin-bottom: 5px
          .authorImg
            margin-right: 9px
            width: 20px
            height: 20px
            object-fit: contain
            border-radius: 50%
          a
            color: #FFF
        .title
          font-weight: 700
          font-size: 1rem
          margin-bottom: 4px
          > a
            width: 100%
        .fields
          flex-wrap: wrap
          .field
            width: 100%
            flex-direction: column
            padding-top: 10px
            &.inline
              width: auto
              flex: 1
            .fieldName
              font-weight: 700
      .richThumb
        max-width: 80px
        max-height: 80px
        border-radius: 3px
        object-fit: contain
        margin-left: 20px
    .image
      width: 400px
      max-width: 100%
      margin-bottom: 10px
      img
        max-width: 100%
        border-radius: 2px
    .footer
      align-items: center
      font-weight: 500
      font-size: 0.75rem
      .footerImg
        margin-right: 10px
        width: 18px
        height: 18px
        object-fit: contain
        border-radius: 2.45px