@import ./../css-legacy/colorlist.scss

.tip
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.content
  position: fixed
  left: 100%
  top: 0
  background: rgba($dgrey, 0.2)
  backdrop-filter: blur(1vh)
  @supports not (backdrop-filter: blur(1rh)) { background: rgba($dgrey, 0.8) }
  opacity: 0
  z-index: 20
  transition: 0.2s opacity
  pointer-events: none
  &.visible
    opacity: 1
  &.column
    flex-direction: column
  &.p
    padding: 1vh 1.5vh