@import './colorlist.scss';

.page#main {
  width: 100%;
  height: calc(100rh - 5vh);
  > main {
    position: relative;
    flex: 1;
    flex-direction: column;
    > .screen-start {
      position: relative;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      > .preview {
        width: 70%;
        height: 50vh;
        max-height: calc(100% - 20vh);
        margin-top: 5vh;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        > .site {
          flex-direction: column;
          align-items: flex-start;
          > .beta {
            position: relative;
            font-size: 2vh;
            padding: 0.2vh 1vh;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 0%;
              height: 100%;
              background: $red;
              animation: beta-fill 1s;
              animation-fill-mode: forwards;
              transform: skewX(-15deg);
              z-index: -1;
              @keyframes beta-fill {
                0% {
                  width: 0%;
                }
                100% {
                  width: 100%;
                }
              }
            }
          }
          > .sitename {
            font-size: 6vh;
            font-family: 'Kanit';
            letter-spacing: 0.075vh;
          }
        }
        > .servers-wr {
          width: 35vh;
          height: 100%;
          > .servers {
            flex: 1;
            flex-direction: column;
            padding-right: 1vh;
            &:not(.overflow) {
              justify-content: center;
            }
            > .login > .button-label {
              border-color: $grey;
              color: $white;
              > .border {
                border-color: $grey;
              }
            }
            > .guild {
              &:not(:last-child) {
                margin-bottom: 1.5vh;
              }
              > .button-label > .icon {
                width: 3vh;
                height: 3vh;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                background: $grey;
                color: $black;
                font-family: 'Bold';
                margin-right: 1vh;
              }
              &:not(.bot) {
                > .button-label, > .border {
                  border-color: $grey;
                }
              }
              &.selected {
                > .border, > .button-label {
                  border-color: $blue;
                }
              }
            }
          }
        }
      }
      .preview-arrow_wr {
        width: 100%;
        justify-content: center;
        .preview-arrow {
          position: absolute;
          width: 20vh;
          height: 3vh;
          bottom: 0.5vh;
          align-items: center;
          animation: preview-arrow-animation linear infinite 2s;
          @keyframes preview-arrow-animation {
            0% { opacity: 50%; }
            50% { opacity: 90%; }
            100% { opacity: 50%; }
          }
          > .p-arrow {
            width: 50%;
            height: 0.3vh;
            background: $white;
            border-radius: 0.1vh;
            &__1 {
              transform: rotateZ(8deg) translateX(1%);
            }
            &__2 {
              transform: rotateZ(-8deg) translateX(-1%);
            }
          }
        }
      }
      .features-preview {
        position: absolute;
        width: 70%;
        justify-content: center;
        flex-wrap: wrap;
        bottom: 4vh;
        padding-left: 1vh;
        &__item {
          position: relative;
          padding: 1vh 1.5vh;
          background: rgba($black, 0.5);
          border-radius: 0.2vh;
          overflow: hidden;
          margin-right: 1vh;
          margin-bottom: 1vh;
          &.indev {
            color: $grey;
          }
          &__border {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.2vh;
          }
        }
      }
    }
    .features {
      width: calc(100vw - 10vh);
      flex-direction: column;
      margin: 10vh auto;
      &__item {
        width: 100%;
        height: 20vh;
        justify-content: space-between;
        align-items: center;
        background: rgba($black, 0.2);
        backdrop-filter: blur(0.5rh);
        border-radius: 0.3vh;
        margin-bottom: 15vh;
        &.reversed {
          flex-direction: row-reverse;
          .features__item {
            &__d {
              align-items: flex-end;
              &__text {
                text-align: right;
              }
            }
          }
          img {
            transform: perspective(2000px) rotateY(-20deg);
          }
        }
        img {
          height: 150%;
          max-width: 50%;
          object-fit: cover;
          transform: perspective(2000px) rotateY(20deg);
          perspective-origin: left;
          box-shadow: $dgrey 0 0 0.5vh;
        }
        &__d {
          flex: 1;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0 4vh;
          &__title {
            line-height: 4vh;
            font-size: 2.8vh;
            text-transform: uppercase;
            font-family: 'Bold';
            border-bottom: $white 0.2vh solid;
            margin-bottom: 1vh;
          }
          &__text {
            line-height: 3vh;
            font-size: 2vh;
            color: $lgrey;
          }
        }
      }
      &__item_2 {
        width: 100%;
        flex-direction: column;
        align-items: center;
        //margin-bottom: 7.5vh;
        padding: 4vh;
        background: rgba($black, 0.2);
        backdrop-filter: blur(0.5rh);
        &__title {
          width: 100%;
          justify-content: center;
          line-height: 4vh;
          font-size: 2.8vh;
          text-transform: uppercase;
          font-family: 'Bold';
          border-bottom: $white 0.2vh solid;
          margin-bottom: 4vh;
        }
        &__video {
          width: 100%;
          position: relative;
          > video {
            width: 100%;
            opacity: 0.5;
            transition: 0.2s opacity;
            &.playing {
              opacity: 1;
            }
          }
          .hovervideo__overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            font-size: 2.4vh;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            transition: 0.2s opacity;
            &.playing {
              opacity: 0;
            }
          }
        }
      }
      &__item_3 {
        width: 100%;
        flex-direction: column;
        padding: 4vh;
        background: rgba($black, 0.2);
        backdrop-filter: blur(0.5rh);
        &__title {
          width: 100%;
          justify-content: center;
          line-height: 4vh;
          font-size: 2.8vh;
          text-transform: uppercase;
          font-family: 'Bold';
          border-bottom: $white 0.2vh solid;
          margin-bottom: 4vh;
        }
        &__text {
          justify-content: center;
          line-height: 3vh;
          font-size: 2vh;
          color: $lgrey;
        }
      }
    }
  }
}

.main-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.075;
  background: linear-gradient(to bottom, $main 0%, transparent 100%), url(/static/img/bg.png);
  filter: blur(0.5rh);
  background-size: cover;
  background-position: bottom 20% center;
  z-index: -1;
}

.footer {
  width: 100%;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vh;
  background: rgba($grey, 0.2);
  backdrop-filter: blur(1rh);
}

.button {
  width: 100%;
  height: 5vh;
  position: relative;
  &.compact {
    height: 4vh;
  }
  &.center > .button-label {
    justify-content: center;
  }
  > .border {
    content: "";
    opacity: 0;
    position: absolute;
    width: calc(100% - 0.2vh);
    height: calc(100% - 0.2vh);
    border-top: 0.2vh solid $grey;
    border-left: 0.2vh solid $grey;
    transition: 0.2s opacity;
  }
  > .button-label {
    width: 100%;
    height: 100%;
    align-items: center;
    border: 0.2vh solid $dgrey;
    color: $grey;
    overflow: hidden;
    cursor: pointer;
    background: rgba($white, 0.025);
    transform: translate(0, 0);
    transition: transform 0.2s;
    > img {
      height: 3vh;
      border-radius: 50%;
      margin-right: 1vh;
      opacity: 0.5;
    }
    > .status {
      position: absolute;
      left: -1.5vh;
      width: 4.5vh;
      height: 100%;
      transform: skewX(-20deg);
      background: $dgrey;
    }
  }
  &.enabled {
    > .button-label {
      color: $white;
      border-color: $grey;
      > .status {
        background: $grey;
      }
      > img {
        opacity: 1;
      }
    }
  }
  &:hover {
    > .border {
      opacity: 1;
    }
    > .button-label {
      transform: translate(0.5vh, 0.5vh);
      border-color: $grey;
    }
  }
  &.enabled:hover {
    > .border {
      border-color: $white;
    }
    > .button-label {
      border-color: $white;
    }
  }
}

.title {
  width: 100%;
  height: 5vh;
  position: relative;
  align-items: center;
  background: $lmain;
  > *:not(.title-color) {
    z-index: 1;
  }
  > .plugin-title {
    font-size: 2.4vh;
    font-family: 'Bold';
  }
  > .title-color {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.05;
  }
  > .border {
    width: 100%;
    height: 0.2vh;
    position: absolute;
    bottom: 0;
    background: $dgrey;
  }
  > .p-enabled {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 2vh;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: rgba($white, 0.2);
    }
    > img {
      height: 30%;
      margin-right: 1vh;
    }
  }
  > .main {
    margin-left: 2vh;
  }
  > .back {
    width: 6vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    &:hover > img {
      opacity: 1;
    }
    > img {
      height: 2vh;
      opacity: 0.5;
      cursor: pointer;
    }
  }
  > img {
    height: 60%;
    margin-right: 1vh;
  }
}

.category-name-wr {
  height: 3vh;
  position: relative;
  margin-bottom: 2vh;
  overflow: hidden;
  > .border {
    content: "";
    width: 100%;
    height: 0.2vh;
    position: absolute;
    bottom: 0;
    background: $grey;
  }
  > .category-name {
    height: 100%;
    position: relative;
    left: -1.5vh;
    align-items: center;
    background: $grey;
    color: $black;
    transform: skewX(45deg);
    font-family: 'Bold';
    padding-left: 2.5vh;
    padding-right: 1.5vh;
    > span {
      transform: skewX(-45deg);
    }
  }
}

.label-wr {
  position: relative;
  width: 100%;
  height: 3vh;
  align-items: center;
  > .label {
    position: relative;
    height: 100%;
    align-items: center;
    > img {
      height: 1.5vh;
      margin-right: 1vh;
    }
  }
  &:not(.text) > .label {
    font-family: 'Bold';
    color: $lgrey;
    text-shadow: $grey 0 0 0.5vh;
  }
  &.mt {
    margin-top: 1vh;
  }
  &.p > .label {
    padding: 0 1vh;
  }
  &.bg {
    background: rgba($grey, 0.2);
  }
  &:not(.nm) {
    margin-bottom: 1vh;
  }
  &.border {
    > .label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0.2vh;
      background: $grey;
    }
    > .label::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.2vh;
      background: $grey;
    }
  }
  &.label-channel > .label > img {
    opacity: 0.7;
  }
}

.stars {
  width: 100%;
  height: 50vh;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  top: calc(100% - 40vh);
  align-items: center;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 80%, transparent 100%);
  mask-image: linear-gradient(to top, rgb(255, 255, 255) 50%, transparent 100%);
  z-index: -1;
  > .field {
    position: absolute;
    width: 100%;
    height: 100%;
    > .field-parallax {
      width: 100%;
      height: 200%;
      > .star {
        width: 1px;
        height: 1px;
      }
    }
    &.range3 {
      animation: stars-animation 50s infinite linear, stars-start 2s;
      > .field-parallax > .star {
        width: 0.1vh;
        height: 0.1vh;
      }
    }
    &.range2 {
      animation: stars-animation 20s infinite linear, stars-start 2s;
      > .field-parallax > .star {
        width: 0.2vh;
        height: 0.2vh;
      }
    }
    &.range1 {
      animation: stars-animation 10s infinite linear, stars-start 2s;
      > .field-parallax > .star {
        width: 0.4vh;
        height: 0.4vh;
      }
    }
  }
}

.row {
  &.m {
    margin-bottom: 1.5vh;
  }
  > .row__el {
    flex: 1;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 1vh;
    }
    &.jcc {
      justify-content: center;
    }
  }
}

.fill { flex: 1 }

.select-wr {
  flex-direction: column;
  &.m {
    margin-bottom: 1vh;
  }
  &.mr {
    margin-right: 1vh;
  }
  &.flex {
    flex: 1;
  }
  .select {
    height: 4vh;
    position: relative;
    > .select-label-wr {
      width: 100%;
      height: 100%;
      cursor: pointer;
      padding: 0 1vh;
      justify-content: space-between;
      align-items: center;
      > .arrow {
        height: 100%;
        align-items: center;
        padding-left: 1vh;
        > img {
          height: 40%;
        }
      }
    }
    > .border {
      content: "";
      width: 100%;
      height: 0.2vh;
      position: absolute;
      bottom: 0;
      background: $grey;
    }
  }
}

.scroll-wr {
  width: 0.5vh;
  flex: 1 1 1;
  //border-left: 0.1vh solid #777777;
  > .scroll {
    width: 100%;
    position: relative;
    background: $grey;
  }
}
.with-scroll {
  overflow: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.dropdown-component {
  position: relative;
  > .dropdown-label {
    height: 100%;
    align-items: center;
  }
  > .dropdown-wr {
    display: none;
    width: 100%;
    max-height: 30vh;
    min-height: 1vh;
    opacity: 0.8;
    background: $dmain;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    &.open {
      display: flex;
    }
    > .dropdown {
      flex: 1;
      flex-direction: column;
      > * {
        width: 100%;
        cursor: pointer;
        padding: 0.5vh 1vh;
        &:hover {
          background: $grey;
          color: $black;
        }
      }
    }
  }
}

.switch {
  position: relative;
  padding: 0.7vh 1vh 0.7vh 1.5vh;
  cursor: pointer;
  align-items: center;
  &.m {
    margin-bottom: 1.5vh;
  }
  &:hover {
    background: rgba($white, 0.1);
  }
  &.enabled {
    &::before {
      background: $white;
    }
  }
  > img {
    height: 1.8vh;
    margin-right: 1vh;
    filter: invert(1);
  }
  &::before {
    content: "";
    width: 0.5vh;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $grey;
  }
}

.emoji {
  &:not(.emoji-disabled) > .emoji-sel {
    cursor: pointer;
  }
  &:not(.selected) > .emoji-sel {
    filter: grayscale(1);
    &:hover {
      filter: unset;
    }
  }
  &.mr {
    margin-right: 1vh;
  }
  > .emoji-sel {
    width: 2.8vh;
    height: 2.8vh;
    background-image: url(/static/img/emoji.png);
  }
}

.expansion-panel {
  width: 100%;
  flex-direction: column;
  &.open {
    > .ep-header > .border {
      opacity: 1;
    }
    > .ep-dropdown {
      display: flex;
    }
  }
  &.m {
    margin-bottom: 1vh;
  }
  &.column > .ep-dropdown {
    flex-direction: column;
  }
  > .ep-header {
    position: relative;
    height: 4vh;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bold';
    background: rgba($grey, 0.2);
    padding-left: 1vh;
    cursor: pointer;
    > .border {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.2vh;
      opacity: 0;
      background: $grey;
    }
    > .ep-header-r {
      height: 100%;
      > .ep-header-arrow {
        height: 100%;
        align-items: center;
        padding: 0 2vh;
        > img {
          height: 50%;
        }
      }
    }
  }
  > .ep-dropdown {
    display: none;
    background: rgba($grey, 0.1);
    padding: 1vh;
  }
}

.enabled-switch {
  height: 100%;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  &.enabled {
    opacity: 1;
  }
  &.text {
    width: 12vh;
    justify-content: center;
    > img {
      margin-right: 1vh;
    }
  }
  &:not(.text) {
    padding: 0 1vh;
  }
  &:hover {
    background: rgba($white, 0.5);
  }
  > img {
    height: 1.5vh;
  }
}

.slider-wr {
  flex-direction: column;
  justify-content: center;
  &.row {
    flex-direction: row;
    align-items: center;
    > .slider {
      flex: 1;
    }
  }
  &.m {
    margin-bottom: 1vh;
  }
  > img {
    height: 2vh;
    margin-right: 1vh;
  }
  > .slider {
    position: relative;
    height: 4vh;
    align-items: center;
    > .slider-content {
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 0.8vh);
      height: 100%;
      align-items: center;
      margin: 0 0.4vh;
      > .slider-pos {
        width: 0.8vh;
        height: 3.5vh;
        position: absolute;
        background: $white;
        transition: 0.1s;
        transform: translateX(-50%);
        z-index: 1;
      }
      > .slider-keypoint {
        opacity: 0;
        &.visible {
          opacity: 1;
        }
        width: 0.2vh;
        height: 2vh;
        position: absolute;
        background: $grey;
        transition: 0.1s;
        transform: translateX(-50%);
      }
    }
    > .slider-fill {
      height: 3vh;
      background: rgba($grey, 0.5);
      position: absolute;
      left: 0;
      transition: 0.1s;
    }
    > .slider-unfilled {
      width: 100%;
      height: 3vh;
      background: rgba($grey, 0.1);
      position: absolute;
      left: 0;
    }
  }
}

.color-picker-wr {
  position: relative;
  &.m {
    margin-bottom: 1vh;
  }
  > .color-picker-label {
    flex: 1;
    align-items: center;
    white-space: nowrap;
    padding: 1vh;
  }
  > .color-picker {
    width: 14vh;
    height: 4vh;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    &:hover > .color-picker-bg {
      opacity: 0.5;
    }
    > .color-picker-hex {
      flex: 1;
      justify-content: space-between;
      align-items: center;
      padding: 0 1vh;
    }
    > .color-picker-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.25;
      z-index: -1;
    }
  }
  > .color-picker-border {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2vh;
    background: $grey;
  }
}

.card {
  background: #36393f;
  padding: 1vh;
  > canvas {
    max-width: 100%;
    max-height: 17vh;
    object-fit: contain;
    border-radius: 0.4vh;
  }
}

#modal-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: hidden;
  > .modal {
    display: none;
    width: 30vh;
    max-height: 60vh;
    max-height: clamp(4vh, 60vh, calc(100rh - 4vh));
    min-height: 4vh;
    opacity: 0;
    position: absolute;
    background: $lmain;
    box-shadow: 0 0 0.5vh $shadow;
    pointer-events: all;
    z-index: 10;
    &.visible {
      display: flex;
    }
    &.modal_left.modal-fadein-enter {
      opacity: 0;
      transform: translateX(-5%);
      &-active {
        opacity: 1;
        transform: translateX(0);
        transition: 0.2s linear;
      }
      &-done {
        opacity: 1;
      }
    }
    &.modal_left.modal-fadein-exit {
      opacity: 1;
      transform: translateX(0);
      &-active {
        opacity: 0;
        transform: translateX(-5%);
        transition: 0.2s linear;
      }
    }
    &.modal_right.modal-fadein-enter {
      opacity: 0;
      transform: translateX(5%);
      &-active {
        opacity: 1;
        transform: translateX(0);
        transition: 0.2s linear;
      }
      &-done {
        opacity: 1;
      }
    }
    &.modal_right.modal-fadein-exit {
      opacity: 1;
      transform: translateX(0);
      &-active {
        opacity: 0;
        transform: translateX(5%);
        transition: 0.2s linear;
      }
    }
    &.modal_left_close {
      transform: translateX(-5%);
      opacity: 0;
      transition: 0.2s linear;
    }
    &.modal_right_close {
      transform: translateX(5%);
      opacity: 0;
      transition: 0.2s linear;
    }
  }
  > .modal-fs-bg {
    display: none;
    width: 100vw;
    height: 100rh;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba($black, 0.5);
    pointer-events: all;
    z-index: 10;
    &.open {
      display: flex;
    }
    &.modal-fadein-enter {
      display: flex;
      opacity: 0;
      > .modal-fs-wr {
        transform: translateY(5%);
      }
      &-active {
        opacity: 1;
        transition: 0.2s linear;
        > .modal-fs-wr {
          transform: translateY(0);
          transition: 0.2s linear;
        }
      }
      &-done {
        display: flex;
      }
    }
    &.modal-fadein-exit {
      display: flex;
      opacity: 1;
      > .modal-fs-wr {
        transform: translateY(0);
      }
      &-active {
        opacity: 0;
        transition: 0.2s linear;
        > .modal-fs-wr {
          transform: translateY(5%);
          transition: 0.2s linear;
        }
      }
    }
    > .modal-fs-wr {
      width: 100vh;
      max-width: calc(100vw - 10vh);
      flex-direction: column;
      background: $lmain;
      box-shadow: 0 0 0.5vh $shadow;
      > .modal-fs-header {
        width: 100%;
        height: 5vh;
        align-items: center;
        padding: 0 2vh;
        font-family: 'Bold';
        font-size: 2vh;
        background: $grey;
        color: $black;
      }
      > .modal-fs-container {
        width: 100%;
        max-height: 80rh;
        > .modal-fs {
          flex: 1;
          flex-direction: column;
          padding-top: 2vh;
        }
      }
    }
  }
  .cmd-settings {
    flex-direction: column;
    padding: 0 1vh;
    > .cmd-label {
      width: 100%;
      padding: 1vh 1.5vh;
      margin-bottom: 2vh;
      background: $grey;
      color: $black;
      font-family: 'Bold';
    }
    > .modallabel {
      align-items: center;
      &.switchable:not(.enabled) {
        opacity: 0.75;
      }
      > .object-edit {
        padding: 1vh;
      }
      > .custom-time {
        height: 4vh;
        margin-right: 1vh;
      }
    }
  }
  > #modal-group-settings {
    flex-direction: column;
    padding-bottom: 1vh;
    > .groupName {
      width: 100%;
      background: $grey;
      color: $black;
      font-family: 'Bold';
      > input {
        padding: 1vh 1.5vh;
      }
    }
  }
  > #modal-emoji {
    width: auto;
    max-height: 50vh;
    > .emoji-list {
      width: 30vh;
      flex-direction: column;
      > .expansion-panel {
        > .ep-dropdown {
          flex-wrap: wrap;
          padding: 1vh;
          > .category-emoji-el {
            width: 4vh;
            height: 4vh;
            font-size: 2vh;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            > div {
              width: 2.8vh;
              height: 2.8vh;
              background-image: url(/static/img/emoji.png);
            }
            &:hover {
              background: $dmain;
            }
          }
        }
      }
      > .category {
        display: none;
        width: 100%;
        flex-direction: column;
        margin-bottom: 1vh;
        > .label {
          background: rgba($white, 0.1);
          padding: 1vh;
        }
        > .category-emoji {
          width: 100%;
          flex-wrap: wrap;
          padding: 0 1vh;
          > .category-emoji-el {
            width: 4vh;
            height: 4vh;
            font-size: 2vh;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            > div {
              width: 2.8vh;
              height: 2.8vh;
              background-image: url(/static/img/emoji.png);
            }
            &:hover {
              background: $dmain;
            }
          }
        }
      }
    }
  }
}

.mlabel {
  width: 100%;
  height: 2vh;
  justify-content: space-between;
  align-items: center;
  color: $lgrey;
  font-family: 'Bold';
  margin-bottom: 0.5vh;
  &.bg {
    height: 3.5vh;
    background: rgba($grey, 0.4);
    padding: 0 1vh;
    margin-bottom: 1vh;
  }
  > .mlabel-right {
    color: $grey;
  }
}

.modallabel-wr {
  width: 100%;
  min-height: 6vh;
  position: relative;
  background: rgba($grey, 0.15);
  padding-right: 1vh;
  &.m {
    margin-bottom: 1vh;
  }
  > .ml-enabled {
    width: 4vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: rgba($white, 0.2);
    }
    > img {
      height: 2vh;
    }
  }
  > .modal-label {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    &.column {
      align-items: unset;
      flex-direction: column;
      padding: 1vh;
      > .ml-type {
        height: 4vh;
        padding: unset;
      }
    }
    > .ml-type {
      height: 100%;
      align-items: center;
      padding: 0 1vh;
      font-family: 'bold';
    }
    > .object-edit {
      justify-content: flex-end;
    }
  }
}

.container {
  &:not(.noflex) {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
  }
  &.vcenter {
    align-items: center;
  }
  &.hp1 {
    padding-left: 0.5vh;
    padding-right: 0.5vh;
  }
  &.hp2 {
    padding-left: 1vh;
    padding-right: 1vh;
  }
  &.vp1 {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }
  &.vp2 {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  &.spaceBetween {
    justify-content: space-between;
  }
}

.input {
  position: relative;
  flex-direction: column;
  &.m {
    margin-bottom: 1.5vh;
  }
  &.b {
    > input {
      border-bottom: 0.2vh solid $grey;
    }
  }
  &.m {
    margin-bottom: 1.5vh;
  }
  &.oe {
    height: 3vh;
    > input {
      width: 10vh;
      padding: 0 1vh;
    }
  }
  &.center {
    > input {
      text-align: center;
    }
  }
  &.fill {
    flex: 1;
  }
  &.bold > input {
    font-family: 'Bold';
  }
  &.black > input {
    color: $black;
  }
  > input {
    width: unset;
    flex: 1;
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    line-height: 1.8vh;
    padding: 1vh;
  }
  &:hover & {
    &__dropdown_wr {
      visibility: visible;
    }
  }
  &__dropdown_wr {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 30vh;
    background: rgba($dmain, 0.8);
    overflow-y: auto;
    z-index: 10;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
  &__dropdown {
    flex: 1;
    flex-direction: column;
    &__item {
      width: 100%;
      height: 4vh;
      align-items: center;
      padding: 0 1vh;
      cursor: pointer;
      &.selected {
        border-top: 0.2vh solid $grey;
        border-bottom: 0.2vh solid $grey;
      }
      &:hover {
        background: $grey;
      }
      &:hover & {
        &__d {
          &__title, &__desc {
            color: $black;
          }
        }
      }
      &__thumbnail {
        margin-right: 1vh;
        height: 100%;
      }
      > .icon {
        margin-right: 1vh;
      }
      &__d {
        flex-direction: column;
        &__desc {
          color: $grey;
          font-size: 1.2vh;
        }
      }
    }
  }
}

.user {
  align-items: center;
  background: rgba($grey, 0.2);
  padding: 0.5vh 1vh;
  &.m {
    margin-bottom: 1vh;
  }
  > .icon {
    margin-right: 1vh;
  }
}

.border_bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2vh;
  background: $grey;
}

.icon {
  width: 3vh;
  height: 3vh;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  &:not(.icon-no-bg) {
    background: $grey;
  }
  > img {
    height: 100%;
  }
}

@keyframes stars-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes stars-start {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modal-left {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes modal-right {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}