@import './colorlist.scss';

.page#plugins {
  width: 100%;
  max-width: 2250px;
  position: relative;
  margin: 0 auto;
  height: calc(100% - 5vh);
  justify-content: space-between;
  padding: 0 1vh;
  > main {
    position: relative;
    flex: 1;
    overflow: hidden;
    > .plugins-list-page {
      width: 100%;
      height: 100%;
      flex-direction: column;
      padding-top: 1vh;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.2s opacity, 0.2s visibility;
      &.visible {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        transition: 0.2s opacity, 0.2s visibility;
      }
      > .plugins-list-wr {
        width: 100%;
        height: 100%;
        > .plugins-list {
          flex: 1;
          flex-direction: column;
          > .demo-alert {
            width: 100%;
            height: 5vh;
            align-items: center;
            background: $dmain;
            margin-bottom: 2vh;
            &::before {
              content: "";
              display: flex;
              width: 0.5vh;
              height: 100%;
              margin-right: 2vh;
              background: rgb(141, 189, 51);
            }
          }
          > .stats {
            width: 100%;
            height: 16vh;
            margin-bottom: 2vh;
            > .stat {
              width: calc(100% / 3 - 1vh / 3 * 2);
              background: $dmain;
              flex-direction: column;
              &:not(:last-child) {
                margin-right: 1vh;
              }
              > .stat-header {
                width: 100%;
                height: 4vh;
                justify-content: space-between;
                position: relative;
                align-items: center;
                > .stat-name {
                  padding: 0 1vh;
                }
                > .select {
                  width: 25%;
                }
              }
              > .graph {
                flex: 1;
                margin: 1vh;
              }
            }
          }
          > .settings-buttons {
            margin-bottom: 2vh;
          }
          .preview_type2 {
            height: 4vh;
            align-items: center;
            position: relative;
            background: $dmain;
            border-top: 0.2vh solid $grey;
            overflow: hidden;
            cursor: pointer;
            &:hover {
              .preview_type2__color {
                opacity: 0.3;
              }
            }
            &__d {
              width: 100%;
              height: 100%;
              padding: 0 2vh;
              justify-content: center;
              align-items: center;
              z-index: 1;
              align-items: center;
              font-family: 'bold';
              font-size: 2vh;
              transition: 0.5s;
              &__img {
                margin-left: 2vh;
                height: 2vh;
              }
            }
            &__color {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: $grey;
              opacity: 0;
              transition: 0.5s opacity;
            }
          }
          > .category {
            width: 100%;
            margin-bottom: 1vh;
            > .list {
              width: 100%;
              flex-wrap: wrap;
              align-content: flex-start;
              > .plugin-preview {
                width: calc(100% / 3 - 2vh / 3);
                height: 6vh;
                align-items: center;
                position: relative;
                opacity: 0.5;
                background: rgba($grey, 0.15);
                margin-bottom: 2vh;
                overflow: hidden;
                cursor: pointer;
                &.enabled {
                  opacity: 1;
                  > .pp-d > .pp-name {
                    color: $white;
                  }
                  > .pp-enabled {
                    opacity: 0;
                  }
                }
                &:not(:nth-child(3n)) {
                  margin-right: 1vh;
                }
                &:hover {
                  > img {
                    height: 80%;
                    opacity: 0.4;
                  }
                  > .pp-color {
                    left: calc(0% - 3vh);
                    opacity: 0.3;
                  }
                  > .pp-d {
                    > .pp-name, > .pp-desc {
                      color: $white;
                    }
                  }
                  > .pp-enabled {
                    opacity: 0.5;
                  }
                }
                > img {
                  position: absolute;
                  right: 5vh;
                  height: 135%;
                  opacity: 0.2;
                  z-index: 1;
                  transition: 0.5s;
                }
                > .pp-d {
                  flex: 1;
                  padding: 0 2vh;
                  flex-direction: column;
                  justify-content: center;
                  z-index: 1;
                  > .pp-name {
                    width: 100%;
                    height: 50%;
                    color: $grey;
                    align-items: center;
                    font-family: 'bold';
                    font-size: 2.2vh;
                    transition: 0.5s;
                  }
                  > .pp-desc {
                    width: 100%;
                    height: 30%;
                    align-items: center;
                    font-size: 1.3vh;
                    color: $grey;
                    transition: 0.5s;
                  }
                }
                > .pp-enabled {
                  width: 4vh;
                  height: 100%;
                  justify-content: center;
                  align-items: center;
                  opacity: 0.5;
                  transition: 0.5s opacity;
                  z-index: 1;
                  &:hover {
                    background: rgba($white, 0.2);
                  }
                  > img {
                    height: 40%;
                  }
                }
                > .pp-border {
                  position: absolute;
                  width: 0.5vh;
                  height: 100%;
                  bottom: 0;
                }
                > .pp-color {
                  position: absolute;
                  width: calc(100% + 6vh);
                  height: 100%;
                  left: calc(100% + 3vh);
                  transform: skew(45deg);
                  opacity: 0;
                  transition: 0.75s;
                  background: rgb(189, 189, 189);
                }
              }
            }
          }
        }
        > .scroll-wr {
          margin-left: 0.5vh;
        }
      }
    }
    > .plugin-page {
      width: 100%;
      height: calc(100% - 5vh);
      position: absolute;
      flex-direction: column;
      padding-top: 1vh;
      pointer-events: none;
      > .plugin-wr {
        width: 100%;
        height: 100%;
        > .plugin {
          flex: 1;
          flex-direction: column;
          overflow: auto;
          padding-top: 3vh;
          padding-right: 1vh;
          padding-bottom: 1vh;
        }
      }
    }
    > .plugin-page, > .settings-page {
      pointer-events: none;
      position: absolute;
      &.dashboard-item-fadein-enter {
        left: 2.5%;
        opacity: 0;
        visibility: hidden;
        &-active {
          left: 0;
          opacity: 1;
          visibility: visible;
          transition: 0.2s opacity, 0.2s visibility, 0.2s left;
        }
        &-done {
          pointer-events: unset;
        }
      }
      &.dashboard-item-fadein-exit {
        left: 0;
        opacity: 1;
        visibility: visible;
        &-active {
          left: 2.5%;
          opacity: 0;
          visibility: hidden;
          transition: 0.2s opacity, 0.2s visibility, 0.2s left;
        }
      }
    }
  }
}

.category {
  width: 100%;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 3vh;
  }
}
.commands-wr > .commands {
  flex-wrap: wrap;
  > .command {
    width: calc(100% / 2 - 1vh / 2);
    height: 5vh;
    background: rgba($grey, 0.15);
    align-items: center;
    margin-bottom: 1vh;
    &:not(:nth-child(2n)) {
      margin-right: 1vh;
    }
    > .cmd-border {
      width: 0.5vh;
      height: 100%;
      background: $grey;
    }
    > .cmd-d {
      flex: 1;
      flex-direction: column;
      padding: 0 2vh;
      > .cmd-label {
        height: 60%;
        align-items: center;
        font-size: 2vh;
      }
      > .cmd-desc {
        height: 40%;
        align-items: center;
        color: $grey;
        font-size: 1.4vh;
      }
    }
    > .cmd-options {
      height: 100%;
      align-items: center;
      .cmd-state {
        height: 100%;
        padding: 0 1vh;
        align-items: center;
        background: rgba($black, 0.5);
        margin-right: 1vh;
        > img {
          height: 1.7vh;
        }
        &__val {
          margin-left: 0.7vh;
        }
      }
      > .cmd-enabled {
        width: 10vh;
        height: 100%;
        &:hover {
          background: $dmain;
        }
      }
      > .cmd-settings {
        height: 100%;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: $dmain;
          > img {
            opacity: 1;
          }
        }
        > img {
          height: 45%;
          opacity: 0.5;
          padding: 0 2vh;
        }
      }
    }
  }
}

#plugin-music {
  > .control {
    > .np {
      > .thumbnail {
        height: 15vh;
        width: calc((var(--vh) * var(--sc) * 15) / 9 * 16);
        background: rgba($black, 0.5);
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      > .np-d {
        flex-direction: column;
        justify-content: center;
        padding: 0 4vh;
        > .np-nothing {
          font-size: 2.2vh;
          color: $grey;
        }
        > .np-title {
          font-size: 2.2vh;
          font-family: 'Bold';
          margin-bottom: 0.5vh;
        }
        > .np-author {
          margin-top: 1vh;
          color: $grey;
        }
        > .np-views {
          margin-top: 0.5vh;
          color: $grey;
        }
      }
    }
    > .control-panel {
      flex-direction: column;
      margin-bottom: 1vh;
      > .control-1 {
        height: 4vh;
        margin: 1vh 0;
        > * {
          position: relative;
          flex: 1;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:hover {
            > .border {
              height: 0.3vh;
              background: $white;
            }
            > img {
              opacity: 1;
            }
          }
          > img {
            height: 50%;
            opacity: 0.5;
            filter: invert(1);
          }
          > .border {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.2vh;
            bottom: 0;
            background: $grey;
          }
        }
      }
      > .control-2 {
        height: 3.5vh;
        > .timeline-wr {
          flex: 1;
          justify-content: space-between;
          flex-direction: column;
          > .status {
            justify-content: space-between;
            > .duration {
              color: $grey;
            }
          }
          > .timeline {
            width: 100%;
            height: 0.5vh;
            background: $dgrey;
            > .progress {
              max-width: 100%;
              height: 100%;
              background: $white;
            }
          }
        }
        > .repeat {
          width: 15vh;
          margin-left: 2vh;
        }
        > .slider-wr {
          width: 15vh;
          margin-left: 2vh;
        }
      }
    }
    > .queue-wr {
      max-height: 29vh;
      > .queue {
        flex: 1;
        flex-direction: column;
        > .queue-song {
          width: 100%;
          height: 4vh;
          background: $dmain;
          &:not(:last-child) {
            margin-bottom: 1vh;
          }
          > .q-d {
            flex: 1;
            justify-content: space-between;
            align-items: center;
            padding: 0 2vh;
          }
          > .q-delete {
            width: 4vh;
            height: 100%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
              background: $red;
              > img {
                opacity: 1;
              }
            }
            > img {
              height: 40%;
              opacity: 0.5;
              filter: invert(1);
            }
          }
        }
        > .queue-nothing {
          height: 4vh;
          align-items: center;
          padding: 0 2vh;
          background: $dmain;
        }
      }
    }
  }
}

#plugin-alerts {
  > .input-list {
    > .input-list-el > .al {
      flex: 1;
      flex-direction: column;
      padding: 1vh;
      > * {
        margin-bottom: 1vh;
      }
      > input {
        width: 100%;
      }
    }
  }
}

.disabled {
  opacity: 0.25;
  cursor: default;
  pointer-events: none;
}

.options-wr {
  flex-direction: column;
  .options {
    flex-direction: column;
    > .option {
      border-left: 0.5vh solid $grey;
      padding: 0.7vh 0 0.7vh 1.5vh;
      margin-bottom: 1vh;
      cursor: pointer;
      &:hover {
        background: rgba($white, 0.1);
      }
      &.selected {
        border-color: $white;
      }
    }
  }
}

.msg-tips {
  flex-wrap: wrap;
  > .tip {
    background: rgba($grey, 0.2);
    padding: 0.5vh 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    &:hover {
      background: rgba($grey, 0.4);
    }
  }
}

textarea {
  width: 0;
  height: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  resize: none;
  background: $main;
  line-height: 2vh;
}

.textarea {
  //height: 20vh;
  min-height: 10vh;
  max-height: 30vh;
  width: 100%;
  &:not(.nm) {
    margin-bottom: 1.5vh;
  }
  > .ta-input {
    display: block;
    flex: 1;
    background: rgba($black, 0.4);
    backdrop-filter: blur(1rh);
    padding: 1vh;
    cursor: text;
    -moz-user-select: text !important;
    line-height: 1.6vh;
    user-select: text;
    white-space: pre-wrap;
    word-break: break-all;
    &:before {
      content: attr(placeholder);
      color: $grey;
      display: flex;
      position: absolute;
    }
    > .text-emoji {
      display: inline-block;
      width: 1.6vh;
      height: 1.6vh;
      border: 0;
      background-image: url(/static/img/emoji.png);
    }
    > div {
      display: block;
      width: 100%;
      line-height: 2vh;
      word-break: normal;
      user-select: text;
      -moz-user-select: text !important;
      > .text-emoji {
        display: inline-block;
        height: 2vh;
        border: 0;
        background-image: url(/static/img/emoji.png);
      }
    }
  }
  > .ta-control {
    width: 0.5vh;
    flex-direction: column;
    background: $grey;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s width;
    &.edit {
      width: 4vh;
      > * {
        opacity: 1;
      }
    }
    > * {
      opacity: 0;
      transition: 0.2s opacity;
    }
    > .ta-emoji {
      padding: 1vh 0;
      > .emoji > .emoji-sel {
        height: 2.8vh;
      }
    }
    > .ta-limit {
      flex-direction: column;
      align-items: center;
      font-size: 1.4vh;
      color: $black;
      &.exceeded {
        > .ta-length {
          background: $red;
        }
      }
      > .ta-length, > .ta-lim {
        width: 100%;
        justify-content: center;
      }
      > .br {
        width: 100%;
        height: 0.2vh;
        background: $black;
        margin: 0.2vh 0;
      }
    }
    > .ta-save {
      justify-content: center;
      align-items: center;
      color: $black;
      cursor: pointer;
      padding: 1vh 0;
      > img {
        width: 50%;
      }
    }
  }
  > .scroll-wr {
    background: $main;
  }
}

.object-edit-wr {
  flex-direction: column;
  &.m {
    margin-bottom: 1.5vh;
  }
  &.flex {
    flex: 1;
  }
  .object-edit {
    flex: 1;
    flex-wrap: wrap;
    > .el, > .add {
      position: relative;
      height: 3vh;
      justify-content: center;
      align-items: center;
      padding: 0 0.5vh;
      cursor: pointer;
      &.default {
        color: $dgrey;
      }
      > .border {
        width: 100%;
        height: 0.2vh;
        position: absolute;
        bottom: 0;
        background: $grey;
      }
    }
    > .el {
      margin-right: 0.5vh;
      align-items: center;
      &:hover > .delete > img {
        opacity: 1;
      }
      > .delete {
        width: 2vh;
        height: 100%;
        align-items: center;
        > img {
          height: 30%;
          opacity: 0.5;
        }
      }
    }
    > .add {
      &:hover > img {
        opacity: 1;
      }
      > img {
        height: 40%;
        opacity: 0.5;
      }
    }
  }
}

@keyframes cync-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}